.chartFormat {
    display: inline-block;
    background-color: #F4ED9F;

    width: 100%;
}

.fiveElement {
    height: 500px;
    width: 100%;
    padding: var(--page-pad);
    display: block;
}

.tenElement {
    display: none;
    height: 500px;
    width: 100%;
    padding: var(--page-pad);
}

.fifteenElement {
    display: none;
    height: 500px;
    width: 100%;
    padding: var(--page-pad);
}

.python {
    left: 10%;
}

.select {
    left: 10%;
    top: 1.5em;
}