.header-container{
    padding: 1.5rem 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space{
    padding: 1rem 0 7rem;
    height: 100px;
    width: 100%;
}

.item-container{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 25pt;
    color: #000;
    margin: 0 auto;
    width: 60%;
    padding: 0 20px;
}

.buttons{
    margin: 0 auto;
    align-items: center;
}
