.nextMod {
    font-size: large;
}

#leftMod {
    float: left;
}

#rightMod {
    float: right;
}

.score-section {
    margin-top: auto;
    font-size: 2em;
    padding: var(--page-pad);
}

.app {
    background-color: #F4ED9F;
}