.body {
  background-color: #F4ED9F;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.wrapper {
  text-align: center;
  /* display: flex;
  align-items: center; */
  justify-content: center;
}

.logoutBtn {
  padding: 8px 20px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: var(--blue-3);
  border: 1px solid var(--blue-3);
  border-radius: 10px;
  transition: all 0.3s ease-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loginBt {
  padding: 20px 20px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: var(--blue-3);
  border: 1px solid var(--blue-3);
  border-radius: 10px;
  transition: all 0.3s ease-out;
  text-decoration: none;
  left: 5%;
  transform: translateX(-50%) translateY(100%);
  margin-left: 100px;
}

.registerBt {
  padding: 20px 20px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: var(--blue-3);
  border: 1px solid var(--blue-3);
  border-radius: 10px;
  transition: all 0.3s ease-out;
  text-decoration: none;
  left: 50%;
  transform: translateX(-50%) translateY(20%);
  margin: 0, auto;
}

.credentials {
  top: 5em;
  color:black;
}

.LRBtns {
  columns: 2;
  gap: 10%;
}